doctype html
html
  head
    title= title
  body
    h1 Update Custom Object Form

    form(action="/update-cobj" method="POST")
      label(for="pet_name") Pet Name:
      input(type="text" name="pet_name" required)
      br

      label(for="pet_type") Pet Type:
      input(type="text" name="pet_type" required)
      br

      label(for="pet_age") Pet Age:
      input(type="number" name="pet_age" required)
      br

      button(type="submit") Submit

    br
    a(href="/") Return to the homepage
